@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  background-image: url("IMAGE/BG\ WP.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
}

@font-face {
  font-family: "ledlight";
  src: url("LEDLIGHT.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "ledlight", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.music-container {
  background-color: #000000;
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)
    ),
    repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.02) 1px,
      transparent 1px,
      transparent 4px
    );
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);

  border-radius: 15px;
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.inner-box {
  background-color: #a08888;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 12px 16px;
  margin-right: -355px;
  min-width: 350px;
  text-align: center;
  font-size: 14px;
  justify-content: center;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: "";
  background-color: #000000;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.55);
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 15px;
  height: 15px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.action-btn {
  background-color: #a08888;
  border: 0;
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #000000;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: antiquewhite;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #6a2e2e;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #060102;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
